<% if logged_in? %>

<%= link_to 'logout', logout_path, method: :delete %>

<div class='row'>
  <div class='col-2'>
<%= link_to 'new task', new_task_path, class: 'btn btn-primary' %>
  </div>
</div>
<%= render 'searchbar' %>

<% if params[:task_search] %>
Search_keyword with: <%= params[:task_search][:keyword] %>
Search_status with: <%= params[:task_search][:status_num] %>
<% end %>

<%= render 'task_contents' %>

<% else %>
<%= render template: 'sessions/new' %>
<% end %>