<%= link_to 'new task', new_task_path %>
<ol>
  <% @tasks.each do |task| %>
  <li>
    <span id='task_title'><%= t('view.title') %>: <%= task.title %></span><br>
    <%= t('view.content') %>: <%= task.content %><br>
    <%= t('view.priority') %>: <%= task.priority %>
    <%= t('view.deadline') %>: <%= task.deadline.strftime("%Y-%m-%d") %>
    <%= t('view.status') %>: <%= task.status %>
  </li>
  <%= link_to t('view.details'), task_path(task) %>
  <%= link_to t('view.edit'), edit_task_path(task) %>
  <%= link_to t('view.destroy'), task_path(task), method: :delete %>
  <% end %>
</ol>