<h5><%= t('view.title') %>:</h5>
<p><%= @task.title %></p>

<h5><%= t('view.content') %>:</h5>
<p><%= @task.content %></p>

<h5><%= t('view.priority') %>:</h5>
<p><%= @task.priority %></p>

<h5><%= t('view.deadline') %>:</h5>
<p><%= @task.deadline %></p>

<h5><%= t('view.status') %>:</h5>
<p><%= @task.task_status %></p>