<%= link_to 'Create new account', new_user_path %>

<table>
  <thead>
    <tr>
      <th><%= sort_order 'name', 'Name' %></th>
      <th><%= sort_order 'tasks_count', 'Task count' %></th>
      <th><%= sort_order 'admin', 'Admin' %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.tasks_count %></td>
      <td><%= user.admin %></td>
      <td><%= link_to 'Admin', admin_user_path(user), method: :patch, class: 'btn btn-primary' %>
      <td><%= link_to t('view.details'), user_path(user), class: 'btn btn-primary' %></td>
      <td><%= link_to t('view.edit'), edit_user_path(user), class: 'btn btn-secondary' %></td>
      <td><%= link_to t('view.destroy'), admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@users) %>